<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="test_modal" aria-hidden="true" style="padding-top: 20%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="test_title">

                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="test_body">
            </div>
        </div>
    </div>
</div>
<script>
    function connection_result(result) {
        var test_modal =  $('#test_modal');
        var test_title =  $('#test_title');
        if(result === "successful"){
            test_modal.css("background-color", "lightgreen");
            test_title.html('Connection successful <i class="fa fa-check" aria-hidden="true"></i>');
        }else if(result === "unsuccessful"){
            test_modal.css("background-color", "lightcoral");
            test_title.html('Connection unsuccessful <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>');
         }
        else{
            test_modal.css("background-color", "");
            test_title.html('Error retrieving connection <i class="fa fa-check" aria-hidden="true"></i>');
        }
    }
</script>